<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
		<script type="text/javascript" src="node_modules/angular/angular.min.js" ></script>
		<script type="text/javascript" src="app.js"></script>

			<title>Five Star</title>
</head>
		
		<style type="text/css">div {margin:60px; width: 300px;} </style>
<body ng-app="Fivestar">
		    <div align="center" class="container">
			    	<style type="text/css">body {background-image:url("images/RustyShip.png");} </style>
			    <form  ng-controller= "ConCtrl";class="alert" ng-submit="doSubmit()" >
			    	<style type="text/css">h2{width: 450px }</style>
			    	<h2 class="label-info" align="center" style="color:#000099" >Form</h2>
						<div class="form-group" >
							<input class="form-control" ng-model="Firstname" type="text" placeholder="Firstname" /><br>
							<input class="form-control" ng-model="Surname" type="text" placeholder="Surname" /><br>
							<input class="form-control" ng-model="OtherNames" type="text" placeholder="Other names"/><br>
							<input class="form-control" ng-model="Username" type="text" placeholder="Select username"><br>
							<input class="form-control" ng-model="Password" type="password"placeholder="Password" /><br>
							<button type="submit" class="btn btn-mid btn-info" style="color:blue">Submit</button>
						</div>
			</div>
			</form>
		</div>
				
</body>
</html> 
